@import url('https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet');

.App {
  text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
}

.maxTemp, .minTemp {
  font-weight: bold;
}

.minTemp{
  color: darkcyan;
}

.maxTemp {
  color: red;
}